<header class="bg-light border-bottom ">
    <div class="container py-3 fondo-encabezado">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-md-2 text-center">
                <img src="https://www.unpa.edu.mx/web/sites/default/files/escudos/04-UNPA_small.png" alt="UNPA Logo" class="img-fluid" height="200px" width="200px">
            </div>
            <!-- Title -->
            <div class="col-md-8 text-center">
                <h1 class="h3 text-success">UNPA</h1>
                <p class="mb-0">Universidad del Papaloapan</p>
                <small class="text-muted">"Tierra uberima, mens aperta"</small>
            </div>
            <!-- Login and Register -->
            <div class="col-md-2 text-end">
                <button class="btn btn-success">Sobre nosotros</button>
            </div>
        </div>
    </div>
</header>
<div class="">
    <main class="container my-5 text-center">
        <h2 class="display-5">S.U.P.R.O.E</h2>
        <p class="lead">Sistema de la UNPA para resolver operaciones estadísticas</p>
        <a class="btn btn-primary" href="https://www.unpa.edu.mx">UNPA</a>
        <a class="btn btn-success" href="#main">Comenzar</a>
        
    </main>
    <div class="bg-light py-3 mt-5 border-top border-bottom">
        <div class="container text-center my-5">
            <p class="">Marco Estadístico - Programación funcional</p>
        </div>
    </div>
</div>

