@if (!existDataSets) {
  <app-recolector-de-datos></app-recolector-de-datos>
}
<div class="container mb-2">
    <h3 class="text-center">Tabla de Medidas Asociativas</h3>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Medida</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Correlacion</td>
          <td>{{ medidas.correlacion }}</td>
        </tr>
        <tr>
          <td>Covarianza</td>
          <td>{{ medidas.covarianza }}</td>
        </tr>
        <tr>
          <td>Coeficiente de correlación</td>
          <td>{{ medidas.coeficienteCorrelacion }}</td>
      </tbody>
    </table>
  </div>