<div class="row gx-3" style="background: linear-gradient(120deg, #f4f4f9, #e8f5e9);">
  <div class="col-3 d-flex justify-content-around align-self-top">
    @if (activeTab!='tecnicas_conteo') {
      <div class="w-100 mr-0">
        <app-data-container></app-data-container>
      </div>
    }@else {
      <div class="w-100 mr-0">
        <app-tecnica-data-container></app-tecnica-data-container>
      </div>
    }
  </div>  
  <div class="col-6 d-flex align-items-top">
    <div class="w-100" style="padding: 20px; background-color: #ffffff; border-radius: 15px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);">
      <ul class="nav nav-tabs justify-content-center" style="border-bottom: 2px solid #28a745;">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="medidas_descriptivas"
             routerLinkActive="active"
             [class.active]="activeTab === 'medidas_descriptivas'"
             (click)="changeTab('medidas_descriptivas')"
             style="font-weight: bold; color: #333; padding: 10px 20px; transition: 0.3s;">Medidas descriptivas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="medidas_asociativas"
             routerLinkActive="active"
             [class.active]="activeTab === 'medidas_asociativas'"
             (click)="changeTab('medidas_asociativas')"
             style="font-weight: bold; color: #333; padding: 10px 20px; transition: 0.3s;">Medidas asociativas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="tecnicas_conteo"
             routerLinkActive="active"
             [class.active]="activeTab === 'tecnicas_conteo'"
             (click)="changeTab('tecnicas_conteo')"
             style="font-weight: bold; color: #333; padding: 10px 20px; transition: 0.3s;">Técnicas de conteo</a>
        </li>
      </ul>

      <div class="tab-content" style="padding: 20px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div 
    class="toast align-items-center text-bg-warning border-0" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true"
    #errorToast
  >
    <div class="d-flex">
      <div class="toast-body">
        Ocupamos Local Storage para almacenar tus datos muestrales ¡No los pierdas!
      </div>
      <button 
        type="button" 
        class="btn-close me-2 m-auto" 
        data-bs-dismiss="toast" 
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
