.container {
    margin: 20px auto;
    max-width: 600px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    text-align: center;
    padding: 10px;
  }
  .detallesTD{
    color: blue;
    cursor: pointer;
  }
  .borderless{
    border: none;
    border-style: none;
    background-color: transparent;
    outline: none;
    border-top: none;
    border-color: white;
  }