.btn-outline-success {
    transition: all 0.5s ease;
}
.btn-outline-success span {
    display: none;
}

.btn-outline-success:hover span {
    display: inline;
}

.btn-recolector{
    height: 50px;
}