<div class="container my-5">
  <h2 class="text-center">Recopilación de Datos Muestrales</h2>
  <p class="text-center text-muted">
    Elige la manera de agregar tus datos muestrales
  </p>
  @for (collection of muestras; track $index) {
    <div class="card p-3 my-3">
      <h5 class="card-title">{{ collection.id }} conjunto de datos</h5>
      <div class="d-flex gap-2">
        <button
          class="btn btn-outline-primary d-flex align-items-center gap-2"
          (click)="importarDesdeCSV(collection.id)"
        >
          <i class="bi bi-file-earmark-arrow-up"></i>
          Importar desde CSV
        </button>
        <button
          class="btn btn-outline-primary d-flex align-items-center gap-2"
          (click)="importarDesdeAPI(collection.id)"
        >
          <i class="bi bi-cloud-arrow-up"></i>
          Importar desde API
        </button>
        <button
          class="btn btn-outline-primary d-flex align-items-center gap-2"
          (click)="ingresarManual(collection.id)"
        >
          <i class="bi bi-pencil"></i>
          Ingresar datos manualmente
        </button>
      </div>
    </div>
    }
  <div class="text-center mt-4">
    <button class="btn btn-success d-flex align-items-center gap-2 mx-auto" (click)="calcular()">
      <i class="bi bi-calculator"></i>
      Calcular medidas estadísticas
    </button>
  </div>
</div>