.btn-outline-success {
    transition: all 0.5s ease;
}
.btn-outline-success span {
    display: none;
}

.btn-outline-success:hover span {
    display: inline;
}

.btn-recolector{
    height: 50px;
}
.botoncito{
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.botoncito:hover {
    transform: scale(1.05);
    color: red;
}
.decorado{
    cursor: pointer;
}
.border-success {
    border: 1px solid var(--bs-success);
    border-radius: 15px;
}