/* Estilos generales */
.select-mat {
  background-color: #FFF;
  color: black;
}

/* Mat Select */
.mat-mdc-select, 
.mat-select-trigger, 
.mat-form-field, 
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: white !important;
  color: black !important;
  opacity: 1 !important;
}

/* Etiqueta del campo */
.mat-form-field-label {
  color: black !important;
}

/* Opciones del desplegable */
.mat-mdc-option, 
.mat-option {
  color: black !important;
  background: white !important;
}

/* Fondo del panel de opciones */
.mat-mdc-select-panel {
  background-color: white !important;
  color: black !important;
}

/* Opción seleccionada */
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option:hover {
  background-color: #13b140 !important;
  color: black !important;
}

/* Hover sobre opciones */
.mat-mdc-option:hover {
  background-color: #13b14054 !important;
}

/* Texto de opción seleccionada */
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) 
.mdc-list-item__primary-text {
  color: black !important;
}
mat-label{
  color: black;
}
mat-select{
  color: black;
  border-bottom: black;
}
/* Color negro por defecto */
.mat-mdc-select-arrow {
  color: black !important;
}

/* Cambiar a verde cuando el select está enfocado o abierto */
.mat-mdc-select:focus .mat-mdc-select-arrow,
.mat-mdc-select.mat-mdc-select-focused .mat-mdc-select-arrow,
.mat-mdc-select.mat-mdc-select-panel-open .mat-mdc-select-arrow {
  color: #13b140 !important;
}

/* Color negro por defecto para el borde inferior */
.mat-mdc-form-field.mat-mdc-select .mat-mdc-form-field-underline {
  border-bottom: 1px solid black !important;
}

.mat-form-field.mat-focused .mat-form-field-underline {
  background-color:  #13b140 !important;
}
