<div class="container my-3">
    
    <div>
        <h3 class="text-center">Selector de muestras</h3>
        <p class="text-center">Selecciona tu(s) conjunto(s) de datos para calcular sus {{nombreMedida}}</p>
    </div>
    <div [formGroup]="muestras">
    @for (item of [].constructor(cantidadDeMuestrasNecesarias); track $index) {
    <h5 class="card-title my-1 mx-2">conjunto de datos {{$index + 1}}</h5>
    <div class="d-flex justify-content-center">
      <div class="mt-4 w-100">
        <div class="card">
            <mat-form-field>
            <mat-label>Muestra</mat-label>
            <mat-select [formControlName]="'optMuestra' + ($index + 1)">
          @for (muestra of muestrasRegistradas; track $index) {
            <mat-option [value]="muestra">{{muestra.nombre}}</mat-option>
          }
            </mat-select>
          </mat-form-field>  
        </div>
      </div>
    </div>      
    }
  </div>
    <div class="text-center mt-4">
        <button class="btn btn-success d-flex align-items-center gap-2 mx-auto" (click)="calcular()">
            <i class="bi bi-calculator"></i>
            Calcular medidas estadísticas
        </button>
    </div>
</div>