<div id="calculadora-combinaciones-permutaciones" class="container">
    <h2>Calcular Combinaciones o Permutaciones</h2>
    <div class="formulario">
      <label for="numero-elementos">Número de elementos (n):</label>
      <input type="number" id="numero-elementos" min="1" required>
    </div>
    <div class="formulario">
      <label for="numero-seleccionados">Número de seleccionados (r):</label>
      <input type="number" id="numero-seleccionados" min="1" required>
    </div>
    <div class="botones">
      <button class="btn btn-outline-success" >Calcular Combinaciones</button>
      <button class="btn btn-outline-success" >Calcular Permutaciones</button>
    </div>
    <div id="resultado">
      <!-- Aquí se mostrarán los resultados -->
    </div>
  </div>
