.word-with-icon {
  position: relative;
  display: inline-block;
}

/* Estilos para el ícono: lo posicionamos en la esquina superior derecha */
.word-with-icon .info-icon {
  position: absolute;
  cursor: pointer;
  font-size: 0.75em;
}