<div class="col-12">

  <div class="content">
    <h2>¿Qué es Probabilidad y Estadística?</h2>
    <p>
      La probabilidad y la estadística son ramas de las matemáticas que se ocupan de analizar fenómenos aleatorios y datos.
      Mientras que la probabilidad se enfoca en predecir la ocurrencia de eventos, la estadística se centra en recolectar,
      organizar, analizar e interpretar datos.
    </p>
    <h2>Áreas Clave</h2>
    <ul>
      <li><strong>Probabilidad:</strong> Estudio de eventos aleatorios y sus probabilidades.</li>
      <li><strong>Estadística descriptiva:</strong> Métodos para resumir y presentar datos de manera informativa.</li>
      <li><strong>Estadística inferencial:</strong> Técnicas para hacer predicciones o generalizaciones a partir de muestras de datos.</li>
    </ul>
    <h2>Aplicaciones Comunes</h2>
    <p>
      La probabilidad y estadística tienen aplicaciones en una amplia variedad de campos, incluyendo:
    </p>
    <ul>
      <li>Ciencias de la salud (análisis de datos clínicos, pruebas de hipótesis).</li>
      <li>Economía (análisis de tendencias, estudios de mercado).</li>
      <li>Ingeniería (control de calidad, simulaciones).</li>
      <li>Ciencias sociales (encuestas, demografía).</li>
    </ul>
    <a class="nav-link"
       routerLink="/calculadora"
       routerLinkActive="active"
       style="display: inline-block; text-decoration: none; background-color: #2c3e50; color: white; padding: 10px 20px; border-radius: 5px; font-size: 1rem; text-align: center; margin-top: 20px;">
      Ir a la Calculadora
    </a>

  </div>

</div>
