<div class="card shadow-sm ">
  <div class="card-header bg-success text-white text-center w-100">
    <h5 class="mb-0">Muestras disponibles para realizar calculos</h5>
  </div>

  <div class="card-body">
    @if(!hasData){
    <app-recolector-de-datos [titleLess]="true"></app-recolector-de-datos>
    }@else {
        <div>
          @for(muestra of data ; track $index){
            <div class="position-relative border rounded shadow-sm bg-light p-2 mb-2">
              <span class="position-absolute top-0 end-0 m-2 text-danger fw-bold cursor-pointer" 
                    (click)="deleteDataSet(muestra)" 
                    style="cursor: pointer;">
                x
              </span>
                <div class="d-flex flex-column">
                <span class="fw-bold">{{ muestra.nombre }}</span>
                <div class="d-flex mt-2 justify-content-between">
                  <div>[
                    @for (item of [].constructor(5); track $index) {
                      {{muestra.data[$index]}}
                      @if($index<4){
                        ,
                      }
                    }    
                    ...]</div>
                  <div>
                    <button class="btn btn-outline-success btn-sm me-1" (click)="editDataSet(muestra)"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-outline-success btn-sm" (click)="viewDataSet(muestra)"><i class="bi bi-search"></i></button>
                  </div>
                </div>
                </div>
            </div>
            
            
        }
        </div>
    }
  </div>
  @if(hasData){
  <div class="card-footer text-muted text-center">

    Total: {{ data.length }} elementos

  </div>
  }
</div>